---
title: Home
published: true
---
<!DOCTYPE html>
<html lang="en">
  {% include 'head' %}
  <body>
    <div class="container-fluid">

      <!-- Site Title -->
  <!--     <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <h1>{{ site.name }}</h1>
        </div>
      </div> -->

      <!-- Side Menu -->
      {% include 'nav' %}

      <!-- Page Content -->
      {% block main %}
        {% include 'index-content' %}
      {% endblock %}
    </div>
  {% include 'tail' %}
{% include 'footer' %}
