<div class="footer">
  <div id="next">
    <em>Scroll Down</em><br>
    <i class="fa fa-arrow-down"></i>
    <div id="rsvp-button"><small><em>... or skip straight to</em></small> <a target="_blank" class="btn btn-danger" href="http://kaylaanddaniel.anrsvp.com/">RSVP</a></div>
  </div>
</div>