<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li {% if page.slug == "index" %}class="active"{% endif %}>
          <a href="#about">Welcome</a>
        </li>
        <li>
          <a href="#what">What you need to know</a>
        </li>
        <li>
          <a href="#program">Program</a>
        </li>
        <li>
          <a href="#venue">Venue</a>
        </li>
        <li>
          <a href="#accomodations">Accomodations</a>
        </li>
        <li>
          <a href="#favours">Favours</a>
        </li>
        <li>
          <a href="#registry">Registry</a>
        </li>
        <li>
          <a href="#final-note">Final Note</a>
        </li>
        <li>
          <a href="#rsvp">RSVP</a>
        </li>
        {% nav 'site', no_wrapper: true, active_class: "active" %}
    </ul>
</div>
